
<div class="complaint-card ">
	<div class="media">
		<div class="media-body">
		<h2><a href="/turk-telekom/turk-telekom-sebeke-sorunumagdurum" class="complaint-link-for-ads" title="Türk Telekom Şebeke Sorunu,Mağdurum!" data-id="11009431">Türk Telekom Şebeke Sorunu,Mağdurum!</a></h2>
		</div>
		<p class="complaint-summary">
		                                    Atatürk Üniversitesi Narman Meslek Yüksekokulu'nda bir haftadır şebeke yok, mesaj dahi atıp alamıyoruz,300 öğrenci ile birlikte aynı sıkıntıyı yaşıyoruz. Bir an önce bu sorunu gidermenizi bekliyoruz. Ulaştığımı&hellip;
		</p>
	</div>
	<span class="tips-top card-time-box" title="10 Ekim 2018 12:12"><i class="icon-clock"></i> 18 d</span>
		<div class="item-footer">
		<span class="name" data-memberid="1932956"><img alt="İbrahim" src="https://cdn.sikayetvar.com/member_picture/no-avatar_50x50.jpg" width="36" height="36">İbrahim</span>
		<span class="view-count"><i class="icon-eye"></i> 125 <span class="text"> Okunma</span></span>
		<div class="complaint-card-sharebox">
		<div class="share-icon"> <i class="icon-share"></i>
		<div class="sharebox" data-title="Türk Telekom Şebeke Sorunu,Mağdurum!" data-url="/turk-telekom/turk-telekom-sebeke-sorunumagdurum" data-twittext="%E2%96%BA+%40Turk_Telekom+%C5%9Eebeke+Sorunu%2CMa%C4%9Fdurum%21+via+%40SikayetvarCom"></div>
		</div>
		</div>
		<div class="clearfix"></div>
		</div>
</div>

//*[@id="gridListView"]/div[1]/div/div[1]/div/h2/a
//*[@id="gridListView"]/div[1]/div/span
//*[@id="gridListView"]/div[1]/div/div[2]/span[1]    

//*[@id="gridListView"]/div[3]/div/div[1]/div/h2/a
//*[@id="gridListView"]/div[3]/div/span
//*[@id="gridListView"]/div[3]/div/div[2]/span[1]